@CHARSET "UTF-8";


h1{
    color:#FFFFFF
    font-family: "Hiragino Sans","ヒラギノ角ゴシック"; font-weight: 400;
    }
h2{
    color:#FFFFFF
    font-family: "Hiragino Sans","ヒラギノ角ゴシック"; font-weight: 400;
    }
body {

background-color : #80ffff;


}