@CHARSET "UTF-8";


h1{

    font-family: "Hiragino Sans","ヒラギノ角ゴシック"; font-weight: 400;
    }
h2{

    font-family: "Hiragino Sans","ヒラギノ角ゴシック"; font-weight: 400;
    }

p{
   font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; font-weight: bold;
}
